<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <link crossorigin href="https://fonts.gstatic.com/" rel="preconnect">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<noscript>
  If you're seeing this message, that means
  <strong>JavaScript has been disabled on your browser</strong>, please
  <strong>enable JS</strong> to make this app work.
</noscript>
<div id="mlv-app"></div>
<div class="mlv-preloader">
  <img src="./assets/svg/logo.svg" class="mlv-preloader-image">
</div>
<!-- Open Sans Font -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</body>
</html>
